container-login{
    display: flex;
    justify-content: center;
    align-items: center;

    &--card-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50vw;
        max-height:50vh;
        width: 30vw;
        height: 40vh;
        padding: 30px;
        margin-top:64px;
    }
}
